---
import MainLayout from "../../layouts/MainLayout.astro";
import Switcher from "../../components/Switcher.astro";
---

<MainLayout pageName="index">
	<Switcher who="management" />
	<p>
		I'm a Software Engineer that does comedy, which could be considered my <span class="rainbow">professional development</span> time.
	</p>
	<p>I laugh about what it takes to <span class="rainbow">motivate developers</span>, without spending RSUs or giving away promotions.
	</p>
  <p>And I am a <span class="rainbow">woman</span> who's part of the <span class="rainbow">LGBTQ+</span> and <span class="rainbow">neurodivergence</span> groups, so by bringing me to your company, you can tick off the <span class="rainbow">DEI quota for the quarter</span>!</p>

  <div class="contact-me">
		Want more? <a href="videos">watch my videos,</a> or <a href="/invite">invite me to your event!</a>
	</div>

  <p class="smaller">I totally <a href="https://github.com/mooeypoo/technically.lol/" target="_blank">made this website</a> outside of work hours.</p>
</MainLayout>

<style lang="scss">
</style>
