---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout page="index">
	<p>
		I'm a Software Engineer that can make you laugh about<br />
		working <span class="rainbow">in Tech</span>,<br />
		working <span class="rainbow">with Tech</span>,<br />
		or working <span class="rainbow">on Tech</span>.</span>
	</p>
	<p>And Tech can be <span class="rainbow">technically funny.</span></p>
	<p>Just look at this website. I totally <a href="https://github.com/mooeypoo/technically.lol/">made it</a>. </p>
</MainLayout>

<style lang="scss">
	a {
		text-decoration: underline;
		
		&::after {
			content: "[↗]";
			font-size: 0.5em;
			vertical-align: super;
			padding-left: 0.2em;
		}
	}

	.emphasis {
		font-weight: bold;
		font-size: 1.2em;
	}

	.rainbow {
		font-weight: bold;
		animation: colorRotate 1s linear 0s infinite;
	}

	@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #ff5eff;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
</style>
