---
import MainLayout from "../layouts/MainLayout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<MainLayout pageName="invite">
  <h1>Contact me</h1>
  <h2>... Talk nerdy to me</h2>
  <ContactForm />
</MainLayout>

<style lang="scss">
  h1 {
    font-size: 2em;
    margin: 0.5em 0 0;
    padding: 0;
  }

  h2 {
    font-size: 1em;
    color: #666;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 750px) {
    h1 {
      font-size: 1.2em;
    }
    h2 {
      font-size: 0.8em;
    }
  }

</style>
