---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout pageName="invite">
	<p>Thanks! Your message has been sent.</p>
	<div class="contact-me">
		Want more? <a href="videos">watch my videos,</a> or <a href="/invite">invite me to your event!</a>
	</div>
	<p class="smaller">Look at this website. I totally <a href="https://github.com/mooeypoo/technically.lol/" target="_blank">made it</a>. </p>
</MainLayout>

<style lang="scss">
</style>
