---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
---
<MainLayout pageName="videos" align="center">
  <div class="video-buttons">
    <a class="button" href="/videos">Another video</a> 
    <a href="https://www.instagram.com/mooeypoo/" target="_blank">
      <Image src="/src/assets/instagram-logo.png" alt="Instagram" width="30" height="30" />
    </a>
  </div>
  <div class="video-container" id="video-container"></div>
  <!-- <Fragment set:html={instagram[random]} /> -->
</MainLayout>

<script>
  var instagram = [
      'https://www.instagram.com/p/C0j_kAfP1kf', // wikipedia one-liners
      'https://www.instagram.com/p/CxVtAX0oyN2', // missing fighter jet
      'https://www.instagram.com/p/CwNryYXNYbP', // wikipedia donation bit
      'https://www.instagram.com/p/CwJDkRsNWP7/', // anxiety trifecta
      'https://www.instagram.com/p/CwIgeKitUTP/', // tech bros emasculated
      'https://www.instagram.com/p/CvkurF-gZ_f/', // computer problems therapist
    ],
    min = 0,
    max = instagram.length - 1,
    random = Math.floor(Math.random() * (max - min + 1) + min),
    embedStr = `<iframe src="${instagram[random]}/embed" width="400" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe>`,
    container = document.getElementById('video-container');
    
  if (container) {
    container.innerHTML = embedStr;
  
  }
</script>
<style lang="scss">
  .video-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em 0;
  }

  .button {
    background-color: #cd50ff; /* Green */
    max-width: fit-content;
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
  }
</style>