---
const { who } = Astro.props;

---
<div class="switcher speech-bubble pleft atop">
  <div class="switcher-label">I speak to different audiences -- pick yours:</div>
  <div class="switcher-options-container">
    <div class:list={['switcher-option', { active: who === 'general' }]}>
      <a class="switcher-label" href="/">General</a>
    </div>
    
    <div class:list={['switcher-option', { active: who === 'tech' }]}>
      <a class="switcher-label" href="/about/tech">Tech</a>
    </div>
    
    <div class:list={['switcher-option', { active: who === 'management' }]}>
      <a class="switcher-label" href="/about/management">Management</a>
    </div>

    <div class:list={['switcher-option', { active: who === 'techbros' }]}>
      <a class="switcher-label" href="/about/techbros">Tech Bros</a>
    </div>
  </div>
</div>

<style lang="scss">
  .switcher {
    display: flex;
    justify-content: center;
    gap: 0 1em;
    align-items: center;
    flex-wrap: wrap;
    // padding: 2px 3px;
    // border-radius: 20px;
    // position:relative;
    // border: 2px solid #95A5A6;
    // background-color: #212121;
    margin-top: 1em;

    &-label {
      font-family: sans-serif;
      display: inline-block;
      color: #2c0000;
      text-decoration: none;
      font-size: 0.8em;
      margin-bottom: 1em;
    }

    &-options-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      
    }

    &-option {
      padding: 0.2em 1em;

      a {
        font-family: sans-serif;
        display: inline-block;
        color: #2c0000;
        text-decoration: none;

        text-align: center;
        font-family: sans-serif;
        display: inline-block;
        position:relative;
        z-index:2;
        margin: 0;
        text-align: center;
        font-size: 15px;
      }

      &.active {
        background-color: #da237e;
        border-radius: 20px;
      }
    }
  }

  /** SPEECH BUBBLE **/
  // see https://codepen.io/MarkBoots/pen/RwLPXgJ
  .speech-bubble,
  .speech-bubble * {
    box-sizing: border-box
  }

  .speech-bubble {
    --bbColor: #c4c4c4;
    // --bbBorderColor: #fff;
    --bbArrowSize: 1.5rem;
    --bbBorderRadius: 0.25rem;
    --bbPadding: 1rem;
    background: var(--bbColor);
    // border: 5px solid var(--bbBorderColor);
    border-radius: var(--bbBorderRadius);
    padding: var(--bbPadding);
    position: relative;

    &::before {
      content: ''; 
      position: absolute;
      background: var(--bbColor);
    }

    &.pbottom{
      margin-bottom: var(--bbArrowSize);

      /* bottom */
      &::before{
        top: calc(100% - 2px);
      }
      &.aleft::before{
        left: 1rem;
        clip-path: polygon(25% 0, 100% 0, 0% 100%)
      }
      &.acenter::before{
        left: calc(50% - var(--width) / 2);
        clip-path: polygon(12.5% 0, 87.5% 0, 50% 100%)
      }
      &.aright::before{
        right: 1rem;
        clip-path: polygon(0 0, 75% 0, 100% 100%)
      }
    }

    &.ptop   {
      margin-top: var(--bbArrowSize);
      /* top */
      &::before{
        bottom: calc(100% - 2px);
      }
      &.aleft::before{
        left: var(--bbPadding);
        clip-path: polygon(0 0, 100% 100%, 25% 100%)
      }
      &.acenter::before{
        left: calc(50% - var(--width) / 2);
        clip-path: polygon(12.5% 100%, 50% 0, 87.5% 100%)
      }
      &.aright::before{
        right: var(--bbPadding);
        clip-path: polygon(0 100%, 100% 0, 75% 100%)
      }

    }
 
    &.pleft  {
      margin-left: var(--bbArrowSize);
      /* left */
      &::before{
        right: calc(100% - 2px);
      }
      &.atop::before{
        top: var(--bbPadding);
        clip-path: polygon(0 0, 100% 25%, 100% 100%)
      }
      &.acenter::before{
        top: calc(50% - var(--height) / 2);
        clip-path: polygon(0 50%, 100% 12.5%, 100% 87.5%);
      }
      &.abottom::before{
        bottom: var(--bbPadding);
        clip-path: polygon(0 100%, 100% 0, 100% 75%)
      }
    }
 
    &.pright {
      margin-right: var(--bbArrowSize);

      /* right */
      &::before{
        left: calc(100% - 2px);
      }
      &.atop::before{
        top: var(--bbPadding);
        clip-path: polygon(100% 0, 0 100%, 0 25%)
      }
      &.acenter::before{
        top: calc(50% - var(--height) / 2);
        clip-path: polygon(0 12.5%, 100% 50%, 0 87.5%)
      }
      &.abottom::before{
        bottom: var(--bbPadding);
        clip-path: polygon(0 0, 100% 100%, 0 75%)
      }
    }

    /* bottom and top  */
    &.pbottom::before,
    &.ptop::before{
      --width: calc(var(--bbArrowSize) / 2 * 3);
      height: var(--bbArrowSize);
      width: var(--width);
    }

    /* left and right  */
    &.pleft::before,
    &.pright::before{
      --height: calc(var(--bbArrowSize) / 2 * 3);
      width: var(--bbArrowSize);
      height: var(--height);
    }

    /* flip */
    &.pbottom[flip]::before,
    &.ptop[flip]::before {
      transform: scaleX(-1)
    }
    &.pleft[flip]::before,
    &.pright[flip]::before {
      transform: scaleY(-1)
    }
  }

  @media screen and (max-width: 400px) {
    .switcher {
      &-label {
        font-size: 1em;
      }

      &-options-container {
        justify-content: center;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .speech-bubble {
      --bbColor: #c4c4c46e;
    }
  }

</style>